.terraform/
.terraform.lock.hcl
terraform/.terraform/*
terraform/new-keypair.pub
terraform/new-keypair
terraform/new-keypair.pem
terraform/new-keypair.pem.pub
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl
terraform/.terraform/modules/*

.terraform.tfstate.lock.info
terraform/.terraform
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
new-keypair.pub
new-keypair
new-keypair.pem
new-keypair.pem.pub
terraform/apps/helm-values/.*